@model SampleProject.Models.BankDetail
    {

    ViewBag.Title = "DeleteBank";

    }
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>BankDetail</h4>
        <hr />


        <div class="form-group">
            <label asp-for="Empid" class="control-label"></label>
            <input asp-for="Empid" class="form-control" />
            <span asp-validation-for="Empid" class="text-danger"></span>
        </div>




        <form asp-action="DeleteBank">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Lisr">Back to List</a>
        </form>
    </div>
