@model AskFM.Models.Question

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="question" class="control-label">Question</label>
                <input asp-for="question" class="form-control" />
                <span asp-validation-for="question" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="topicName" class="control-lable"> Topic Name</label>
                <select asp-for="topicName" asp-items="ViewBag.Topic" class="custom-select">
                    <option value="">Choose topic</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="white-space: normal; width:230px;background-color:green;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="First1">Back to Home</a>
</div>

<a href=" @Url.Action("CreateTopic","Topic")">create Topic </a>
</br>

<a href=" @Url.Action("First1","User")">home</a>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
